.politique{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.politique>p{
    color: #071A3A;
}
.politique>h3{
    color: #071A3A;
}
.politique>h4{
    color: #071A3A;
}

.utilisation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.utilisation>p{
    color: #071A3A;
}
.utilisation>h3{
    color: #071A3A;
}
.utilisation>ul>li{
    color: #071A3A;
}
.utilisation>ol>li{
    color: #071A3A;
}

/* Pour la liste de promoteurs */
.bodyPromoteur {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
#tableau {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espace entre les éléments */
}
.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 4, 35, 0.1);
    /* padding-top: 5px;
    padding-bottom: 5px; */
    border-radius: 15px;
    align-items: center;
    width: 95vw;
}
.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92.5vw;
    margin-top: 5px;
}
.image {
    width: 35vw;
    height: 35vw;
    border-radius: 10px;
    margin-right: 5px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly; /* Centrer verticalement */
    height: 35vw;
}
h3{
    color: #071A3A;
}
.nom{
    color: #071A3A;
    font-size: 12px;
    font-weight: bold;
}
.code{
    color: #071A3A;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
.phone{
    color: #071A3A;
    font-size: 12px;
}
.bouton{
    color: #FFFFFF;
    background-color: #071A3A;
    text-align: center;
    text-decoration: none;
    display: flex;
    width: 92.5vw;
    height: 10vw;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}