.politique{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.politique>p{
    color: #071A3A;
}
.politique>h3{
    color: #071A3A;
}
.politique>h4{
    color: #071A3A;
}

.utilisation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.utilisation>p{
    color: #071A3A;
}
.utilisation>h3{
    color: #071A3A;
}
.utilisation>ul>li{
    color: #071A3A;
}
.utilisation>ol>li{
    color: #071A3A;
}

/* Pour la liste de promoteurs */
.bodyPromoteur {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
#tableau {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Espace entre les éléments */
}
.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid #071A3A; */
    border-radius: 15px;
    padding: 5px;
    width: 95vw; /* Largeur fixe pour chaque élément */
    background-color: rgba(11, 4, 35, 0.1);
}
.image {
    width: 40vw; /* Largeur de l'image */
    height: 40vw; /* Hauteur de l'image */
    border-radius: 10px; /* Pour une image circulaire */
    margin-right: 5px; /* Espace entre l'image et le texte */
}
.info {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly; /* Centrer verticalement */
    height: 40vw;
}
h3{
    color: #071A3A;
}
.nom{
    color: #071A3A;
    font-size: 15px;
    font-weight: bold;
}
.code{
    color: #071A3A;
    font-size: 13px;
}
.phone{
    color: #071A3A;
    font-size: 12px;
}